table {
    width : 100% !important;
    overflow-y: scroll;
}
  
  .row  {
    &.dialog {
       margin-bottom: 20px;
        
        table {
            margin-left: 15px;
            margin-right: 10px;
        }
    }    
  }
  
textarea {
    width: 300px;
    height: 150px;
  
}

.mat-column-date {
    width: 30% !important;
}

.row {
  
  .card {
    margin-left : 15px;
    margin-right : 40px;
    margin-top: 15px;
  }
} 