<h2 mat-dialog-title>New {{data.class}} Type </h2>
<div mat-dialog-content [formGroup] = "addSubTypeForm" >
           
            <mat-form-field >
                <mat-label> Type </mat-label>
                <mat-select formControlName = "type" (selectionChange)="readSubType($event)">
                    <mat-option *ngFor="let type of types" [value]="type.type">
                    {{type.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label> SubType </mat-label>
                <input matInput formControlName = "subType">
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label> SubType Abbreviation </mat-label>
                <input matInput formControlName = "subTypeAbbv">
                <mat-error *ngIf="hasError('subTypeAbbv', 'maxlength')">You have more than 3 characters</mat-error>
                <mat-error *ngIf="hasError('subTypeAbbv', 'minlength')">You have less than 3 characters</mat-error>
                <mat-error *ngIf="hasError('subTypeAbbv', 'pattern')">It has to be all capital</mat-error>
            </mat-form-field>
            
</div>
<div mat-dialog-actions>
    <button mat-button (click) = "submitAddSubTypeForm()" >Add</button>
    <button mat-button (click)="onNoClick()">Back</button> 
</div>