.custom-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;

    background: rgba(0, 0, 0, 0.3);

    &-card {
        width: 400px;
        height: 400px;
    }
}
