.bigButton {
    padding : 25px;
    font-size: 20px;
    margin-left:95px;
  
}
.row , .card {
    margin-left : 15px;
    margin-right : 45px;
    margin-top: 15px;
    width : 100%;
    overflow-y: scroll;
}

table {
    width : 100%;
    overflow-y: scroll;
}

.row  {
    &.dialog {
        max-height: 250px;
        
        table {
            margin-left: 15px;
            margin-right: 10px;
        }
    }    
}


