<div class = "row">
    <div class = "col-10"></div>
    <div class = "col-2">
    <button mat-icon-button color ="accent" class = "bigButton" [routerLink] = "['inventoryConfig']" ><i class="material-icons">settings_applications</i></button>
    </div>
</div>

<div class = "row">
<mat-tab-group class = "card2">
  <mat-tab label="Instrument">
      <div class="card">
          <div class="card-header">
            <div class = "row">
              <div class = "col-10">
                  <mat-form-field fxFlex="40%">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
              </div>
              <div class = "col-2">   
                <button mat-icon-button class="smallButton" color="accent" (click) = "openAddInventoryDialog('Instrument')"><i class="material-icons">
                    add_to_photos
                    </i></button>
                
              </div>
            </div>
          </div>
          <div class="card-body">
              <table mat-table [dataSource]="instrument" class="mat-elevation-z8">

                  <ng-container matColumnDef="itemID">
                    <th mat-header-cell *matHeaderCellDef> Item ID </th>
                    <td mat-cell *matCellDef="let instrument"> {{instrument.itemID}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let instrument"> {{instrument.type}} </td>
                  </ng-container>

                  <ng-container matColumnDef="subType">
                    <th mat-header-cell *matHeaderCellDef> Subtype </th>
                    <td mat-cell *matCellDef="let instrument"> {{instrument.subType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let instrument"> {{instrument.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Description </th>
                      <td mat-cell *matCellDef="let instrument"> {{instrument.description}} </td>
                  </ng-container>

                  <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef> Location </th>
                    <td mat-cell *matCellDef="let instrument"> {{instrument.location}} </td>
                  </ng-container>

                  <ng-container matColumnDef="condition">
                      <th mat-header-cell *matHeaderCellDef> Condition </th>
                      <td mat-cell *matCellDef="let instrument"> {{instrument.condition}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editInventory(row , 'Instrument')"></tr>
                </table>
          </div>
      </div>
  </mat-tab>
  <mat-tab label="Accesories">
      <div class="card">
          <div class="card-header">
            <div class = "row">
              <div class = "col-10">
                  <mat-form-field fxFlex="40%">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
              </div>
              <div class = "col-2">   
                <button mat-icon-button color="accent" class="smallButton"(click) = "openAddInventoryDialog('Accessory')"><i class="material-icons">
                    add_to_photos</i> </button>
              </div>
            </div>  
          </div>
          <div class="card-body">
              <table mat-table [dataSource]="accessory" class="mat-elevation-z8">

                <ng-container matColumnDef="itemID">
                  <th mat-header-cell *matHeaderCellDef> Item ID </th>
                  <td mat-cell *matCellDef="let accessory"> {{accessory.itemID}} </td>
                </ng-container>
          
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let accessory"> {{accessory.type}} </td>
                </ng-container>

                <ng-container matColumnDef="subType">
                  <th mat-header-cell *matHeaderCellDef> Subtype </th>
                  <td mat-cell *matCellDef="let accessory"> {{accessory.subType}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let accessory"> {{accessory.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let accessory"> {{accessory.description}} </td>
                </ng-container>

                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef> Location </th>
                  <td mat-cell *matCellDef="let accessory"> {{accessory.location}} </td>
                </ng-container>

                <ng-container matColumnDef="condition">
                    <th mat-header-cell *matHeaderCellDef> Condition </th>
                    <td mat-cell *matCellDef="let accessory"> {{accessory.condition}} </td>
                </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editInventory(row , 'Accessory')"></tr>
                </table>
          </div>
      </div>
   </mat-tab>
</mat-tab-group>
</div>
//TODO : Filters , Dropdowns , Validations , Archive Page

