.bigButton {
  transform: scale(3);
  padding-left : 50px;
  padding-top: 10px;
}

.smallButton {
  transform: scale(2);
  padding-left : 100px;
}
.row , .card2 {
    margin-left : 15px;
    margin-right : 40px;
    margin-top: 15px;
}

.row , .card2 , table {
  width: 100%;
}